<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reclamation confirmed</title>
</head>
<body>
<h1 style="font-family: Cabin-Bold ,sans-serif; font-weight: bold" >Bonjour  <span style="text-transform: uppercase"> <%= name%></span> </h1>


<p>Votre reclamation concernant  le : <%= reclamation%>   a été enregistrer</p>

<p>Une réponse vous sera envoyé dans les briefs délais</p>

</body>
</html>
